$cOn: #43b781;
$cOff: #FF4B58;
$mbOn: #e3ecfe;
$mbOff: rgba(#D98880, 0.5);

.container {
  position: relative;
  .active-network {
    position: relative;
    display: flex;
    border: none;
    border-radius: 0;
    background-color: transparent;
    line-height: 19px;
    font-size: 16px;
    font-weight: 500;
    color: rgba($cLight, 0.75);
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      right: calc(100% + 12px);
      top: calc(50% - 4px);
      width: 6px;
      height: 6px;
      border-radius: 100%;
    }
    &.on:before {
      border: 1px solid rgba($cOn, 0.3);
      background-color: $cOn;
    }
    &.off:before {
      border: 1px solid rgba($cOff, 0.3);
      background-color: $cOff;
    }
    .up-icon {
      display: block;
      margin-left: 4px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 16px;
      transition: transform $trDefault;
    }
  }
  .networks {
    position: absolute;
    top: calc(100% + 16px);
    right: -12px;
    z-index: 10;
    padding: 16px 32px 16px 36px;
    border-radius: 8px;
    background-color: $bPrimaryLight;
    line-height: 19px;
    font-size: 16px;
    font-weight: 500;
    color: $tLightSecondary;
    white-space: nowrap;
    &:before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 13.5px;
      width: 0;
      height: 0;
      border-bottom: 8px solid $bPrimaryLight;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
    .network {
      position: relative;
      margin-top: 16px;
      &:before {
        content: "";
        position: absolute;
        right: calc(100% + 12px);
        top: calc(50% - 4px);
        width: 6px;
        height: 6px;
        border-radius: 100%;
      }
      &:first-child {
        margin-top: 0px;
      }
      &.active {
        color: $cPrimary;
      }
      &.on:before {
        border: 1px solid rgba($cOn, 0.3);
        background-color: $cOn;
      }
      &.off:before {
        border: 1px solid rgba($cOff, 0.3);
        background-color: $cOff;
      }
    }
  }
  .networksmobile {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: auto;
    border:0;
    background:none;
    font-weight: 500;
    font-size: 16px;
    color: #8798AD;
    margin-right: 8px;
  }
  &.closed {
    .active-network .up-icon {
      transform: rotateX(180deg);
    }
    .networks {
      display: none;
    }
  }
}

@media (max-width: $tScreenMax) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 8px;
    &.good {
      background-color: $mbOn;
    }
    &.error {
      background-color: $mbOff;
    }
    .icon {
      width: 27.5px;
      height: 27.5px;
    }
  }
}

@media (max-width: $mScreenMax) {
  .container {
    width: auto;
    height: 40px;
    .icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      margin-left: 8px;
    }
  }
}