@import "assets/styles/_variables.scss";

$tLightTokens: #aeb2d1;
$bPrimaryTokens: #f4f5f9;

.progress {
  font-size: 28px;
  height: 27px;
  line-height: 1;
  display: inline-block;
  color: $tSecondaryDark;
}
.progress-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba($tLightTokens, 0.9);
  border-radius: 8px;
}

.container {
  width: 100%;
  height: 100%;
  .title {
    display: inline-block;
    margin-top: 9px;
    line-height: 24px;
    font-size: 20px;
    font-weight: bold;
    color: $tLightTokens;
  }
  .tokens {
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    .token {
      position: relative;
      display: flex;
      align-items: center;
      width: calc(50% - 13px);
      height: 70px;
      border-radius: 8px;
      background-color: $bPrimaryTokens;
      line-height: 24px;
      font-size: 20px;
      font-weight: 500;
      color: $tSecondaryDark;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        left: 8px;
        top: 8px;
        z-index: -1;
        display: block;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        border-radius: 8px;
        background-color: $cLight;
        opacity: 0.5;
        box-shadow: 0px 16px 32px 0px $bsPrimary;
      }
      &:hover {
        background-color: darken($bPrimaryTokens, 5%);
      }
      &:active {
        background-color: darken($bPrimaryTokens, 10%);
      }
      &:nth-child(n + 3) {
        margin-top: 24px;
      }
      &:nth-child(2n) {
        margin-left: 24px;
      }
      .logo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 24px;
        margin-right: 16px;
        width: 44px;
        height: 44px;
        border-radius: 4px;
        &-symb {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.5;
          font-size: 16px;
          font-weight: bold;
          color: $cLight;
        }
      }
      .balance {
        margin-left: auto;
        margin-right: 24px;
      }
    }
  }
}

@media (min-width: $ndScreenMin) and (max-height: $ndScreenHeight) {
  .container {
    .title {
      margin-top: getRubberSizeND(9px);
      line-height: getRubberSizeND(24px);
      font-size: getRubberSizeND(20px);
    }
    .tokens {
      margin-top: getRubberSizeND(24px);
      .token {
        width: calc(50% - #{getRubberSizeND(13px)});
        height: getRubberSizeND(70px);
        border-radius: getRubberSizeND(8px);
        line-height: getRubberSizeND(24px);
        font-size: getRubberSizeND(20px);
        &:before {
          left: getRubberSizeND(8px);
          top: getRubberSizeND(8px);
          width: calc(100% - #{getRubberSizeND(16px)});
          height: calc(100% - #{getRubberSizeND(16px)});
          border-radius: getRubberSizeND(8px);
          box-shadow: getRubberSizeND(0px, 16px, 32px, 0px) $bsPrimary;
        }
        &:nth-child(n + 3) {
          margin-top: getRubberSizeND(24px);
        }
        &:nth-child(2n) {
          margin-left: getRubberSizeND(24px);
        }
        .logo {
          margin-left: getRubberSizeND(24px);
          margin-right: getRubberSizeND(16px);
          width: getRubberSizeND(44px);
          height: getRubberSizeND(44px);
          border-radius: getRubberSizeND(4px);
          font-size: getRubberSizeND(16px);
        }
        .balance {
          margin-right: getRubberSizeND(24px);
        }
      }
    }
  }
}

@media (min-width: $sdScreenMin) and (max-width: $sdScreenMax) and (max-height: $sdScreenHeight) {
  .container {
    .title {
      margin-top: getRubberSizeSD(9px);
      line-height: getRubberSizeSD(24px);
      font-size: getRubberSizeSD(20px);
    }
    .tokens {
      margin-top: getRubberSizeSD(24px);
      .token {
        width: calc(50% - #{getRubberSizeSD(13px)});
        height: getRubberSizeSD(70px);
        border-radius: getRubberSizeSD(8px);
        line-height: getRubberSizeSD(24px);
        font-size: getRubberSizeSD(20px);
        &:before {
          left: getRubberSizeSD(8px);
          top: getRubberSizeSD(8px);
          width: calc(100% - #{getRubberSizeSD(16px)});
          height: calc(100% - #{getRubberSizeSD(16px)});
          border-radius: getRubberSizeSD(8px);
          box-shadow: getRubberSizeSD(0px, 16px, 32px, 0px) $bsPrimary;
        }
        &:nth-child(n + 3) {
          margin-top: getRubberSizeSD(24px);
        }
        &:nth-child(2n) {
          margin-left: getRubberSizeSD(24px);
        }
        .logo {
          margin-left: getRubberSizeSD(24px);
          margin-right: getRubberSizeSD(16px);
          width: getRubberSizeSD(44px);
          height: getRubberSizeSD(44px);
          border-radius: getRubberSizeSD(4px);
          font-size: getRubberSizeSD(16px);
        }
        .balance {
          margin-right: getRubberSizeSD(24px);
        }
      }
    }
  }
}

@media (max-width: $tScreenMax) {
  .tokens {
    position: static;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 32px;
    .token {
      position: relative;
      width: calc(50% - 12px);
      height: 186px;
      border-radius: 12px;
      background-color: $mbLight;
      line-height: 24px;
      font-size: 20px;
      font-weight: 500;
      color: $mtPrimary;
      cursor: pointer;
      &:after {
        display: none;
      }
      &:nth-child(n + 3) {
        margin-top: 24px;
      }
      &:nth-child(2n) {
        margin-left: 24px;
      }
      &:hover {
        background-color: darken($bPrimaryTokens, 5%);
      }
      &:active {
        background-color: darken($bPrimaryTokens, 10%);
      }
      .content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          margin-top: 24px;
          line-height: 24px;
          font-size: 20px;
          font-weight: 500;
          color: $mtPrimary;
        }
        .logo {
          position: relative;
          margin-top: 42px;
          &-symb {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.5;
            font-size: 16px;
            font-weight: bold;
            color: $cLight;
          }
          .image {
            display: block;
            width: 66px;
            height: 53px;
          }
        }
      }
      // .progress {
      //   font-size: 40px;
      //   height: 40px;
      // }
    }
  }
}

@media (max-width: $mScreenMax) {
  .tokens {
    padding: 24px;
    .token {
      width: calc(50% - 8px);
      height: 127.5px;
      line-height: 19px;
      font-size: 16px;
      &:nth-child(n + 3) {
        margin-top: 16px;
      }
      &:nth-child(2n) {
        margin-left: 16px;
      }
      .content {
        .title {
          margin-top: 16px;
          line-height: 19px;
          font-size: 16px;
        }
        .logo {
          margin-top: 28px;
          .image {
            width: 44px;
            height: 36px;
          }
        }
      }
    }
  }
}
