$tLightTokens: #aeb2d1;

$bWToken: #627ee8;
$bdWLogo: #3657d5;
$bWLogo: #6f8dff;

$bXToken: #3cb7a5;
$bdXLogo: #2f9f8e;
$bXLogo: #5ddbc8;

$bYToken: #e89662;
$bdYLogo: #cc8659;
$bYLogo: #f4aa7b;

$bZToken: #9062e8;
$bdZLogo: #7b4dd3;
$bZLogo: #a779ff;

.container {
  width: 100%;
  height: 100%;
  .title {
    display: inline-block;
    margin-top: 9px;
    line-height: 24px;
    font-size: 20px;
    font-weight: bold;
    color: $tLightTokens;
  }
  .tokens {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    .token {
      display: flex;
      align-items: center;
      width: calc(50% - 12px);
      height: 70px;
      border-radius: 8px;
      line-height: 24px;
      font-size: 20px;
      font-weight: 500px;
      color: $cLight;
      cursor: pointer;
      &:nth-child(n + 3) {
        margin-top: 24px;
      }
      &:nth-child(2n) {
        margin-left: 24px;
      }
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 24px;
        margin-right: 16px;
        width: 44px;
        height: 44px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        color: $cLight;
      }
      &.weenus {
        background-color: $bWToken;
        .logo {
          border: 0.5px solid $bdWLogo;
          background-color: $bWLogo;
        }
      }
      &.xeenus {
        background-color: $bXToken;
        .logo {
          border: 0.5px solid $bdXLogo;
          background-color: $bXLogo;
        }
      }
      &.yeenus {
        background-color: $bYToken;
        .logo {
          border: 0.5px solid $bdYLogo;
          background-color: $bYLogo;
        }
      }
      &.zeenus {
        background-color: $bZToken;
        .logo {
          border: 0.5px solid $bdZLogo;
          background-color: $bZLogo;
        }
      }
    }
  }
}