$tLightTokens: #aeb2d1;

$bWToken: #627ee8;
$bdWLogo: #3657d5;
$bWLogo: #6f8dff;

$bXToken: #3cb7a5;
$bdXLogo: #2f9f8e;
$bXLogo: #5ddbc8;

$bYToken: #e89662;
$bdYLogo: #cc8659;
$bYLogo: #f4aa7b;

$bZToken: #9062e8;
$bdZLogo: #7b4dd3;
$bZLogo: #a779ff;

.container {
  width: 100%;
  height: 100%;
  .title {
    display: inline-block;
    margin-top: 9px;
    line-height: 24px;
    font-size: 20px;
    font-weight: bold;
    color: $tLightTokens;
  }
  .tokens {
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    .token {
      position: relative;
      display: flex;
      align-items: center;
      width: calc(50% - 12px);
      height: 70px;
      border-radius: 8px;
      line-height: 24px;
      font-size: 20px;
      font-weight: 500;
      color: $cLight;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        left: 8px;
        top: 8px;
        z-index: -1;
        display: block;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        border-radius: 8px;
        background-color: $cLight;
        opacity: 0.5;
        box-shadow: 0 16px 32px 0 $bsPrimary;
      }
      &:nth-child(n + 3) {
        margin-top: 24px;
      }
      &:nth-child(2n) {
        margin-left: 24px;
      }
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 24px;
        margin-right: 16px;
        width: 44px;
        height: 44px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        color: $cLight;
      }
      &.weenus {
        background-color: $bWToken;
        .logo {
          border: 0.5px solid $bdWLogo;
          background-color: $bWLogo;
        }
      }
      &.xeenus {
        background-color: $bXToken;
        .logo {
          border: 0.5px solid $bdXLogo;
          background-color: $bXLogo;
        }
      }
      &.yeenus {
        background-color: $bYToken;
        .logo {
          border: 0.5px solid $bdYLogo;
          background-color: $bYLogo;
        }
      }
      &.zeenus {
        background-color: $bZToken;
        .logo {
          border: 0.5px solid $bdZLogo;
          background-color: $bZLogo;
        }
      }
    }
  }
}

@media (min-width: $sdScreenMin) and (max-width: $sdScreenMax) {

}

@media (max-width: $tScreenMax) {
  .tokens {
    position: static;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 32px;
    .token {
      position: relative;
      width: calc(50% - 12px);
      height: 186px;
      border-radius: 12px;
      background-color: $mbLight;
      line-height: 24px;
      font-size: 20px;
      font-weight: 500;
      color: $mtPrimary;
      cursor: pointer;
      &:after {
        display: none;
      }
      &:nth-child(n + 3) {
        margin-top: 24px;
      }
      &:nth-child(2n) {
        margin-left: 24px;
      }
      .content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image {
          margin-top: 42px;
          width: 66px;
          height: 53px;
        }
        .title {
          margin-top: 24px;
          line-height: 24px;
          font-size: 20px;
          font-weight: 500;
          color: $mtPrimary;
        }
      }
    }
  }
}

@media (max-width: $mScreenMax) {
  .tokens {
    padding: 24px;
    .token {
      width: calc(50% - 8px);
      height: 127.5px;
      line-height: 19px;
      font-size: 16px;
      &:nth-child(n + 3) {
        margin-top: 16px;
      }
      &:nth-child(2n) {
        margin-left: 16px;
      }
      .content {
        .image {
          margin-top: 28px;
          width: 44px;
          height: 36px;
        }
        .title {
          margin-top: 16px;
          line-height: 19px;
          font-size: 16px;
        }
      }
    }
  }
}