{
	"root": true,
	"env": {
		"browser": true,
		"node": true
	},
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "react"],
	"extends": [
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"react/prop-types": 0,
		"no-empty-function": "off",
		"@typescript-eslint/interface-name-prefix": [2, "always"],
		"@typescript-eslint/member-delimiter-style": [2, {
			"multiline": {
				"delimiter": "none",
				"requireLast": false
			},
			"singleline": {
				"delimiter": "semi",
				"requireLast": false
			}
		}],
		"@typescript-eslint/no-use-before-define": [2, {"functions": false}]
	}
}
