@import "assets/styles/_variables.scss";

$bPopup: rgba(#0b0f2c,.64);

.wrapper {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: $bPopup;
  overflow: auto;
  animation: fadeIn .3s ease;
  .container {
    position: fixed;
    padding: 16px;
    z-index: 999;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: $bPrimaryLight;
    transform: translate(-50%,-50%);
    overflow: hidden;
    max-width: 400px;
    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .emoji {
        font-size: 62px;
      }
      .title {
        margin-top: 7px;
        line-height: 28px;
        font-size: 24px;
        text-align: center;
      }
      .description {
        margin-top: 16px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 19px;
        text-align: center;
        font-size: 16px;
      }
    }
  }
}

@media (min-width: $ndScreenMin) and (max-height: $ndScreenHeight) {
  .wrapper {
    .container {
      padding-top: 70px;
      padding-bottom: 70px;
      .content {
        .title {
          font-weight: 500;
        }
        .description {
          line-height: 1.5;
          opacity: 0.5;
        }
      }
    }
  }
}

@media (min-width: $sdScreenMin) and (max-width: $sdScreenMax) and (max-height: $sdScreenHeight) {
  .wrapper {
    .container {
      padding-top: 70px;
      padding-bottom: 70px;
      .content {
        .title {
          font-weight: 500;
        }
        .description {
          line-height: 1.5;
          opacity: 0.5;
        }
      }
    }
  }
}

@media (max-width: $tScreenMax) {
  .wrapper .container {
    width: 460px;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    .content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      .emoji {
        font-size: 120px;
      }
      .title {
        margin-top: 15px;
        line-height: 42px;
        font-size: 36px;
        font-weight: 500;
        color: $mtPrimary;
      }
      .description {
        margin-top: 24px;
        padding: 0 75px;
        line-height: 30px;
        font-size: 20px;
        color: $mtSecondary;
      }
    }
  }
}

@media (max-width: $mScreenMax) {
  .wrapper .container {
    width: 319px;
    .content {
      .emoji {
        font-size: 62px;
      }
      .title {
        margin-top: 7px;
        line-height: 28px;
        font-size: 24px;
      }
      .description {
        margin-top: 16px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 19px;
        font-size: 16px;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}