.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .label {
    line-height: $lhDefault;
    font-size: 16px;
    font-weight: bold;
    color: $tLight;
  }
  .title {
    margin-top: 16px;
    opacity: 0.75;
    line-height: $lhDefault;
    font-size: 56px;
    font-weight: 500;
    color: $tPrimary;
  }
  .token {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 0 32px;
    height: 70px;
    border: 0.5px solid $bdSecondary;
    border-radius: 8px;
    background-color: $bSecondaryDark;
    font-size: 20px;
    font-weight: 500;
    color: $tSecondaryDark;
    .logo {
      display: block;
      width: 44px;
      height: 44px;
      border-radius: 8px;
    }
    .name {
      margin-left: 16px;
    }
    .value {
      margin-left: auto;
    }
  }
  .refresh {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
    background-color: rgba($bDark, 0.08);
    font-size: 20px;
    color: rgba($bDark, 0.75)
  }
}

@media (max-width: $tScreenMax) {
  .container {
    align-items: center;
    padding-bottom: 32px;
    border-radius: 24px;
    overflow: hidden;
    .banner {
      width: 100%;
      height: 305px;
    }
    .label {
      margin: 32px auto 0 32px;
      text-transform: uppercase;
      line-height: 19px;
      font-size: 16px;
      color: $mtSecondaryLight;
    }
    .token {
      margin-top: 16px;
      padding: 0 24px 0 0;
      width: calc(100% - 56px);
      height: 56px;
      border: none;
      border-radius: 12px;
      background-color: $mbLight;
      line-height: 24px;
      font-size: 20px;
      font-weight: 500;
      color: $mtPrimary;
      overflow: hidden;
      .logo {
        width: 56px;
        height: 56px;
        border-radius: 0;
      }
    }
  }
}

@media (max-width: $mScreenMax) {
  .container {
    padding-bottom: 25px;
    .banner {
      height: 193px;
    }
    .label {
      margin: 25px auto 0 24px;
      line-height: 14px;
      font-size: 12px;
    }
    .token {
      margin-top: 12px;
      padding: 0 20px 0 0;
      width: calc(100% - 48px);
      height: 50px;
      line-height: 19px;
      font-size: 16px;
      .logo {
        width: 50px;
        height: 50px;
      }
    }
  }
}