@import "assets/styles/_variables.scss";
@import "assets/styles/_rubber.scss";

$bLogo: #627ee8;
$bdLogo: #5a74d8;
$mbBalance: rgba(#f4f6fc, 0.32);

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .title {
    line-height: $lhDefault;
    font-size: 16px;
    font-weight: bold;
    color: $tLight;
  }
  .balance-usd {
    margin-top: 16px;
    line-height: 118%;
    font-size: 56px;
    font-weight: 500;
    color: rgba($tPrimary, 0.75);
  }
  .balance-eth {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 13px 32px;
    border: 0.5px solid $bdSecondary;
    border-radius: 8px;
    background-color: $bSecondaryDark;
    font-size: 20px;
    font-weight: 500;
    color: $tSecondaryDark;
    .logo {
      width: 44px;
      height: 44px;
      border: 0.5px solid $bdLogo;
      border-radius: 100%;
      background-color: $bLogo;
    }
    .name {
      margin-left: 16px;
    }
    .value {
      margin-left: auto;
    }
  }
  .refresh {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
    background-color: rgba($bDark, 0.08);
    font-size: 20px;
    color: rgba($bDark, 0.75);
    .icon {
      margin-top: 1px;
    }
    &:hover {
      filter: $btnHover;
    }
    &:active {
      filter: $btnActive;
    }
  }
}

@media (min-width: $ndScreenMin) and (max-height: $ndScreenHeight) {
  .container {
    .title {
      font-size: getRubberSizeND(16px);
    }
    .balance-usd {
      margin-top: getRubberSizeND(16px);
      font-size: getRubberSizeND(56px);
    }
    .balance-eth {
      padding: getRubberSizeND(13px, 32px);
      border-radius: getRubberSizeND(8px);
      font-size: getRubberSizeND(20px);
      .logo {
        width: getRubberSizeND(44px);
        height: getRubberSizeND(44px);
      }
      .name {
        margin-left: getRubberSizeND(16px);
      }
    }
    .refresh {
      width: getRubberSizeND(40px);
      height: getRubberSizeND(40px);
      font-size: getRubberSizeND(20px);
    }
  }
}


@media (min-width: $sdScreenMin) and (max-width: $sdScreenMax) and (max-height: $sdScreenHeight) {
  .container {
    .title {
      font-size: getRubberSizeSD(16px);
    }
    .balance-usd {
      margin-top: getRubberSizeSD(16px);
      font-size: getRubberSizeSD(56px);
    }
    .balance-eth {
      padding: getRubberSizeSD(13px, 32px);
      border-radius: getRubberSizeSD(8px);
      font-size: getRubberSizeSD(20px);
      .logo {
        width: getRubberSizeSD(44px);
        height: getRubberSizeSD(44px);
      }
      .name {
        margin-left: getRubberSizeSD(16px);
      }
    }
    .refresh {
      width: getRubberSizeSD(40px);
      height: getRubberSizeSD(40px);
      font-size: getRubberSizeSD(20px);
    }
  }
}

@media (min-width: $tScreenMin) and (max-width: $tScreenMax) {
  .container {
    align-items: center;
    padding: 10px 0 25px;
    .image {
      display: block;
      width: 199px;
      height: 170px;
    }
    .balance-container {
      margin-top: 13px;
      padding: 25px 24px 0;
      width: 100%;
      background-color: $mbBalance;
      .label {
        display: block;
        margin-right: auto;
        text-transform: uppercase;
        line-height: 14px;
        font-size: 12px;
        font-weight: bold;
        color: $mtSecondaryLight;
        letter-spacing: 0.77px;
      }
      .balance-eth {
        display: flex;
        align-items: center;
        margin-top: 12px;
        padding: 0;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 12px;
        background-color: $mbLight;
        line-height: 19px;
        font-size: 16px;
        font-weight: 500;
        color: $mtPrimary;
        overflow: hidden;
        .logo-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 100%;
          background-color: $cPrimary;
          .logo {
            width: 15px;
            height: 25px;
            border: none;
            border-radius: 0;
            background-color: transparent;
          }
        }
        .name {
          margin-left: 16px;
        }
        .value {
          margin-left: auto;
          margin-right: 20px;
        }
      }
    }
  }
}

@media (max-width: $tScreenMax) {
  .container {
    align-items: center;
    padding: 49.5px 0 32px;
    .image {
      display: block;
      width: 227px;
      height: 196px;
    }
    .balance-container {
      margin-top: 60px;
      padding: 32px 32px 0;
      width: 100%;
      background-color: $mbBalance;
      .label {
        display: block;
        margin-right: auto;
        text-transform: uppercase;
        line-height: 19px;
        font-size: 16px;
        font-weight: bold;
        color: $mtSecondaryLight;
        letter-spacing: 1.02px;
      }
      .balance-eth {
        display: flex;
        align-items: center;
        margin-top: 16px;
        padding: 0;
        width: 100%;
        height: 56px;
        border: none;
        border-radius: 12px;
        background-color: $mbLight;
        line-height: 24px;
        font-size: 20px;
        font-weight: 500;
        color: $mtPrimary;
        overflow: hidden;
        .logo-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 56px;
          height: 100%;
          background-color: $cPrimary;
          .logo {
            width: 17px;
            height: 28.5px;
            border: none;
            border-radius: 0;
            background-color: transparent;
          }
        }
        .name {
          margin-left: 24px;
        }
        .value {
          margin-left: auto;
          margin-right: 24px;
        }
      }
    }
  }
}

@media (max-width: $mScreenMax) {
  .container {
    padding: 10px 0 25px;
    .image {
      width: 199px;
      height: 170px;
    }
    .balance-container {
      margin-top: 13px;
      padding: 25px 24px 0;
      .label {
        line-height: 14px;
        font-size: 12px;
        letter-spacing: 0.77px;
      }
      .balance-eth {
        margin-top: 12px;
        height: 50px;
        line-height: 19px;
        font-size: 16px;
        .logo-container {
          width: 50px;
          .logo {
            width: 15px;
            height: 25px;
          }
        }
        .name {
          margin-left: 16px;
        }
        .value {
          margin-right: 20px;
        }
      }
    }
  }
}

@media (max-width: $mScreenSmall) {
  .container {
    .balance-container {
      .balance-eth {
        .logo-container {
          display: none;
        }
      }
    }
  }
}
