$mbExample: #2e2d2d;
$mbsExample: #0c102f14;

.container {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  .block {
    position: relative;
    width: 100%;
    height: calc(50vh - 167.5px);
    border-radius: 8px;
    &:after {
      content: "";
      position: absolute;
      left: 16px;
      top: 16px;
      z-index: -1;
      display: block;
      width: calc(100% - 32px);
      height: calc(100% - 32px);
      border-radius: 8px;
      opacity: 0.5;
      box-shadow: 0px 32px 64px 0px $bsPrimary;
    }
  }
  .example {
    padding: 32px;
    background-color: $bSecondary;
    &:after {
      background-color: $bSecondary;
    }
  }
  .code {
    padding: 32px 0px;
    margin-top: 32px;
    background-color: $bSecondaryDark;
    &:after {
      background-color: $bSecondaryDark;
    }
    .hl {
      position: relative;
      padding: 0px 32px;
      height: calc(50vh - 231.5px);
      border-radius: 8px;
      background-color: $bSecondaryDark;
      line-height: $lhDefault;
      font-size: 20px;
      color: $tPrimary;
      white-space: pre-wrap;
      word-break: keep-all;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 4px;
        // background-color: #eeeff6;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        width: 4px;
        border-radius: 10px;
        background-color: #d0d2de;
      }
      &::-webkit-scrollbar-truck {
        border: none;
        background-color: transparent;
      }
    }
  }
  .copy {
    cursor: pointer;
    position: absolute;
    right: 32px;
    bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
    background-color: rgba($bDark,  0.08);
    &-icon {
      font-size: 20px;
      color: $bDark;
    }
  }
}

@media (min-width: $ndScreenMin) and (max-height: $ndScreenHeight) {
  .container {
    .block {
      height: calc(50vh - #{getRubberSizeND(167.5px)});
      border-radius: getRubberSizeND(8px);
      &:after {
        left: getRubberSizeND(16px);
        top: getRubberSizeND(16px);
        width: calc(100% - #{getRubberSizeND(32px)});
        height: calc(100% - #{getRubberSizeND(32px)});
        border-radius: getRubberSizeND(8px);
        box-shadow: getRubberSizeND(0px, 32px, 64px, 0px) $bsPrimary;
      }
    }
    .example {
      padding: getRubberSizeND(32px);
    }
    .code {
      padding: getRubberSizeND(32px, 0px);
      margin-top: getRubberSizeND(32px);
      .hl {
        padding: getRubberSizeND(0px, 32px);
        height: calc(50vh - #{getRubberSizeND(231.5px)});
        border-radius: getRubberSizeND(8px);
        font-size: getRubberSizeND(20px);
      }
    }
    .copy {
      right: getRubberSizeND(32px);
      bottom: getRubberSizeND(32px);
      width: getRubberSizeND(40px);
      height: getRubberSizeND(40px);
      &-icon {
        font-size: getRubberSizeND(20px);
      }
    }
  }  
}

@media (min-width: $sdScreenMin) and (max-width: $sdScreenMax) {
  .container {
    .block {
      height: calc(50vh - 101px);
    }
    .example {
      padding: 32px;
    }
    .code {
      padding: getRubberSizeSD(32px, 0px);
      margin-top: getRubberSizeSD(32px);
      .hl {
        padding: 0 28px;
        height: calc(50vh - 165px);
      }
    }
    .copy {
      right: 28px;
      bottom: 32px;
    }
  }
}

@media (min-width: $sdScreenMin) and (max-width: $sdScreenMax) and (max-height: $sdScreenHeight) {
  .container {
    .block {
      height: calc(50vh - #{getRubberSizeSD(101px)});
      border-radius: getRubberSizeSD(8px);
      &:after {
        left: getRubberSizeSD(16px);
        top: getRubberSizeSD(16px);
        width: calc(100% - #{getRubberSizeSD(32px)});
        height: calc(100% - #{getRubberSizeSD(32px)});
        border-radius: getRubberSizeSD(8px);
        box-shadow: getRubberSizeSD(0px, 32px, 64px, 0px) $bsPrimary;
      }
    }
    .example {
      padding: getRubberSizeSD(32px);
    }
    .code {
      padding: getRubberSizeSD(32px, 0px);
      margin-top: getRubberSizeSD(32px);
      .hl {
        padding: getRubberSizeSD(0px, 28px);
        height: calc(50vh - #{getRubberSizeSD(165px)});
        border-radius: getRubberSizeSD(8px);
        font-size: getRubberSizeSD(20px);  
      }
    }
    .copy {
      right: getRubberSizeSD(28px);
      bottom: getRubberSizeSD(32px);
      width: getRubberSizeSD(40px);
      height: getRubberSizeSD(40px);
      &-icon {
        font-size: getRubberSizeSD(20px);
      }
    }
  }
}

@media (max-width: $tScreenMax) {
  .container {
    position: static;
    height: calc(100vh - 127px);
    overflow: hidden;
    .example {
      position: relative;
      z-index: 10;
      margin: auto 56px;
      padding: 0;
      background-color: inherit;
      .title {
        line-height: 57px;
        font-size: 48px;
        font-weight: bold;
        color: $cPrimary;
      }
      .description {
        margin-top: 16px;
        line-height: 28px;
        font-size: 24px;
        color: $mtSecondary;
      }
      .children-container {
        position: relative;
        margin-top: 40px;
        border-radius: 24px;
        background-color: $bPrimaryLight;
        &:after {
          content: "";
          position: absolute;
          left: 8px;
          top: 8px;
          z-index: -1;
          display: block;
          width: calc(100% - 16px);
          height: calc(100% - 16px);
          border-radius: 24px;
          box-shadow: 0 8px 24px 0 $mbsExample;
        }
      }
    }
    .code-container {
      position: absolute;
      left: 0;
      bottom: -56px;
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 158px;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      background-color: $cPrimary;
      transition: all $trDefault;
      &.opened {
        position: absolute;
        bottom: calc(100% - 88px);
        left: 0;
        right: 0;
        z-index: 20;
        margin-top: 0;
        border-radius: 0;
        .bottom-line {
          width: 49px;
        }
      }
      .icon {
        margin-top: 16px;
        font-size: 30px;
        color: $cLight;
      }
      .label {
        display: block;
        text-transform: uppercase;
        line-height: 24px;
        font-size: 20px;
        font-weight: 500;
        color: $cLight;
      }
      .bottom-line {
        margin-top: 38px;
        width: 134px;
        height: 5px;
        border-radius: 100px;
        background-color: $bPrimaryLight;
      }
      .code {
        position: absolute;
        top: calc(100% - 24px);
        left: 0;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 64px 56px 72px;
        height: calc(100vh - 50px);
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background-color: $bPrimaryLight;
        &:after {
          display: none;
        }
        .category {
          text-transform: uppercase;
          line-height: 21px;
          font-size: 18px;
          font-weight: bold;
          color: $bDark;
          letter-spacing: 1.15;
        }
        .title {
          margin-top: 8px;
          line-height: 43px;
          font-size: 26px;
          font-weight: 500;
          color: $mtPrimary;
        }
        .signature {
          margin-top: 8px;
          line-height: 29px;
          font-size: 24px;
          font-weight: 500;
          color: $mtSecondary;
        }
        .hl {
          margin-top: 64px;
          padding: 0;
          height: calc(100vh - 493px);
          border-radius: 0;
          background-color: $bPrimaryLight;
          line-height: 40px;
          font-size: 24px;
          color: $tPrimary;
          white-space: pre-line;
          word-break: break-word;
          overflow-y: initial;
        }
        .go-github {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 72px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          width: 323px;
          height: 56px;
          border-radius: 12px;
          background-color: $cPrimary;
          line-height: 24px;
          font-size: 20px;
          font-weight: 500;
          color: $cLight;
          &:before {
            content: "";
            position: absolute;
            left: 4px;
            top: 4px;
            display: block;
            width: calc(100% - 8px);
            top: calc(100% - 8px);
            border-radius: 12px;
            background-color: $cPrimary;
            box-shadow: 0 4px 16px 0 $mbsPrimary;
          }
        }
        .bottom-line {
          display: none;
        }
      }
    }
  }
}

@media (max-width: $mScreenMax) {
  .container {
    height: calc(100vh - 96px);
    .example {
      margin: auto 28px;
      .title {
        line-height: 38px;
        font-size: 32px;
      }
      .description {
        margin-top: 12px;
        line-height: 19px;
        font-size: 16px;
      }
      .children-container {
        margin-top: 28px;
      }
    }
    .code-container {
      bottom: -56px;
      height: 126px;
      &.opened {
        bottom: calc(100% - 68px);
        .bottom-line {
          width: 49px;
        }
      }
      .swipeable {
        width: 100%;
        text-align: center;
        .icon {
          display: inline-block;
          margin-top: 10px;
          font-size: 20px;
        }
        .label {
          line-height: 16px;
          font-size: 14px;
        }
        .bottom-line {
          display: inline-block;
          margin-top: 36px;
        }
      }
      .code {
        top: calc(100% - 24px);
        left: 0;
        padding: 32px 28px 9px;
        height: calc(100vh - 45px);
        &:after {
          display: none;
        }
        .category {
          line-height: 14px;
          font-size: 12px;
          letter-spacing: 0.77;
        }
        .title {
          margin-top: 4px;
          line-height: 29px;
          font-size: 24px;
        }
        .signature {
          margin-top: 4px;
          line-height: 19px;
          font-size: 16px;
        }
        .hl {
          margin-top: 32px;
          height: calc(100vh - 301px);
          line-height: 28px;
          font-size: 16px;
        }
        .go-github {
          left: 24px;
          right: initial;
          bottom: 40px;
          width: calc(100% - 48px);
          height: 50px;
          line-height: 19px;
          font-size: 16px;
        }
        .bottom-line {
          position: absolute;
          bottom: 9px;
          left: calc(50% - 67px);
          width: 134px;
          height: 5px;
          border-radius: 100px;
          background-color: $mbExample;
        }
      }
    }
  }
}

@media (max-width: $mScreenMax) and (min-height: 668px) {
  .container .code-container {
    bottom: -24px;
  }
}