.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 32px 0 90px;
  width: 100%;
  height: 100%;
  background-color: $cPrimary;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    right: calc(100% - 275px);
    top: calc(50% - 716px);
    display: block;
    width: 1432px;
    height: 1432px;
    border-radius: 0 100% 100% 0;
    background-color: $bPrimary;
  }
  .networks {
    margin-left: auto;
  }
  .title {
    position: relative;
    z-index: 1;
    margin-top: 84px;
    line-height: 66px;
    font-size: 46px;
    font-weight: 900;
    color: $tLightPrimary;
  }
  .slider {
    position: relative;
    z-index: 1;
    margin-top: 48px;
    width: 370px;
    overflow: hidden;
  }
}