$cPrimary: #233192;
$cLight: #fff;

// Background
$bPrimary: #f7f7fa;
$bPrimaryLight: #fff;
$bSecondary: #fcfcfc;
$bSecondaryDark: #fafafa;
$bDark: #3e74db;

// Text
$tPrimary: #17205e;
$tSecondary: #5c5c5c;
$tSecondaryDark: #676871;
$tLight: #c8cbe3;
$tLightPrimary: #e0e1ea;
$tLightSecondary: #a1a5c6;

// Box shadow
$bsPrimary: #0c0f2714;
$bsSecondary: #17205f29;

// Border
$bdPrimary: #5f6ed6;
$bdSecondary: #e2e4ed;

// Other values
$trDefault: .3s ease;
$lhDefault: 150%;