$cPrimary: #233192;
$cLight: #fff;

// Background
$bPrimary: #f7f7fa;
$bPrimaryLight: #fff;
$bSecondary: #fcfcfc;
$bSecondaryDark: #fafafa;
$bDark: #3e74db;

$mbLight: rgba(#ebf1fc, 0.32);

// Text
$tPrimary: #17205e;
$tSecondary: #5c5c5c;
$tSecondaryDark: #676871;
$tLight: #c8cbe3;
$tLightPrimary: #e0e1ea;
$tLightSecondary: #a1a5c6;

$mtPrimary: #2e384d;
$mtSecondary: #8798ad;
$mtSecondaryLight: #b0bac9;

// Box shadow
$bsPrimary: #0c0f2714;
$bsSecondary: #17205f29;

$mbsPrimary: #0c102f29;

// Border
$bdPrimary: #5f6ed6;
$bdSecondary: #e2e4ed;

$mbdPrimary: #d8e6fd;

// Other values
$trDefault: .3s ease;
$lhDefault: 150%;
$btnHover: brightness(70%);
$btnActive: brightness(20%);

// Media params
// ====================================== //
$ndScreenMin: 1300px;
$ndScreenHeight: 900px;

$sdScreenMin: 1024px;
$sdScreenMax: 1299px;
$sdScreenHeight: 768px;

$tScreenMin: 768px;
$tScreenMax: 1023px;

$mScreenMax: 767px;
$mScreenSmall: 350px;
