.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .left-side {
    width: 80px;
    height: 100%;
  }
  .center {
    width: calc(46% + 95px);
    height: 100%;
  }
  .right-side {
    width: calc(54% - 175px);
    height: 100%;
  }
}

.loader {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $cPrimary;
  .logo {
    width: 256px;
    height: 256px;
  }
  .loader-text-container {
    width: 180px;
    padding-top: 24px;
    overflow: hidden;
    .loader-text {
      font-size: 32px;
      font-weight: bold;
      color: $tLightPrimary;
      overflow: hidden;
      left: 0;
      animation: typingAnimation 2s steps(4) infinite;
    }
  }
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typingAnimation {
  from { width: 150px }
  to { width: 185px }
}
 
@media (min-width: $sdScreenMin) and (max-width: $sdScreenMax) {
  .container {
    .left-side {
      display: none;
    }
    .center {
      width: 64.5%;
    }
    .right-side {
      width: 35.4%;
    }
  }
}

@media (max-width: $tScreenMax) {
  .container {
    position: relative;
    height: 100%;
    .left-side {
      display: none;
    }
    .center {
      width: 100%;
      height: 100%;
    }
    .right-side {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: auto;
    }
  }
}