@import "assets/styles/_variables.scss";

.container {
  padding: 32px 40px 56px 55px;
  width: 100%;
  height: 100%;
  background-color: $bPrimary;
  .back-link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: $tLight;
    cursor: pointer;
    &-icon {
      margin-right: 8px;
      font-size: 20px;
    }
    .logo-image {
      width: 36px;
      height: 36px;
      fill: $cLight;
    }
  }
  .title {
    margin-top: 68px;
    line-height: 75px;
    font-size: 64px;
    font-weight: bold;
    color: $tPrimary;
  }
  .example {
    margin-top: 48px;
  }
}

@media (min-width: $ndScreenMin) and (max-height: $ndScreenHeight) {
  .container {
    padding: getRubberSizeND(32px, 40px, 56px, 55px);
    .back-link {
      font-size: getRubberSizeND(16px);
      &-icon {
        margin-right: getRubberSizeND(8px);
        font-size: getRubberSizeND(20px);
      }
    }
    .title {
      margin-top: getRubberSizeND(68px);
      line-height: getRubberSizeND(75px);
      font-size: getRubberSizeND(64px);
    }
    .example {
      margin-top: getRubberSizeND(48px);
    }
  }
}

@media (min-width: $sdScreenMin) and (max-width: $sdScreenMax) {
  .container {
    padding: 32px 50px;
    .back-link {
      text-transform: none;
    }
    .title {
      margin-top: 25px;
      line-height: 94px;
      font-size: 80px;
      color: $tLightPrimary;
    }
    .example {
      margin-top: -37px;
    }
  }
}

@media (min-width: $sdScreenMin) and (max-width: $sdScreenMax) and (max-height: $sdScreenHeight) {
  .container {
    padding: getRubberSizeSD(32px, 50px);
    .back-link {
      font-size: getRubberSizeSD(16px);
      &-icon {
        margin-right: getRubberSizeSD(8px);
        font-size: getRubberSizeSD(20px);
      }
    }
    .title {
      margin-top: getRubberSizeND(25px);
      line-height: getRubberSizeND(94px);
      font-size: getRubberSizeND(80px);
    }
    .example {
      margin-top: getRubberSizeND(-37px);
    }
  }
}

@media (max-width: $tScreenMax) {
  .container {
    padding: 32px 0 0 0;
    .back-link {
      justify-content: center;
      margin-left: 56px;
      width: 55px;
      height: 55px;
      border-radius: 8px;
      background-color: $cPrimary;
      color: $cLight;
      &-icon {
        margin-right: 0;
        font-size: 30px;
      }
      .logo-image {
        width: 30px;
        height: 30px;
      }
    }
    .example {
      margin-top: 40px;
    }
  }
}

@media (max-width: $mScreenMax) {
  .container {
    padding: 28px 0 0 0;
    .back-link {
      margin-left: 28px;
      width: 40px;
      height: 40px;
      &-icon {
        font-size: 24px;
      }
      .logo-image {
        width: 24px;
        height: 24px;
      }
    }
    .example {
      margin-top: 28px;
    }
  }
}