$mbDot: #dee3ed;

.slider-dots {
  position: absolute;
  top: 50%;
  right: 33px;
  width: 8px;
  transform: translateY(-50%);
  .dot {
    margin-top: 10px;
    width: 8px;
    height: 8px;
    border: 1px solid $cLight;
    border-radius: 100%;
    background-color: transparent;
    opacity: 0.75;
    cursor: pointer;
    &.choosen {
      background-color: $cLight;
      opacity: 1.0;
    }
  }
}

@media (max-width: $mScreenMax) {
  .slider-dots {
    position: static;
    display: flex;
    width: auto;
    transform: none;
    .dot {
      margin-top: 0;
      margin-right: 8px;
      border: none;
      border-radius: 4px;
      background-color: $mbDot;
      opacity: 1;
      transition: width $trDefault;
      &:last-child {
        margin-right: 0;
      }
      &.choosen {
        width: 16px;
        background-color: $cPrimary;
      }
    }
  }
}